.logo-default {
    margin-top: 8px !important;
}
.page-logo {
    padding-left: 6px !important;
}


/* lave menu - podfarbenie vybratej kategorie*/
.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background-color: #336699 !important;
}


.label-success {
    background-color: #57B71D !important;
}
.qp-label-table {
    display: block !important;
    padding: 4px !important;
    margin: 0 !important;
    font-weight: 400 !important;
}


.qp-btn-table {
    padding: 3px 6px !important;
    border: 0;
    font-size: 15px !important;
    line-height: 1;
}