.user-login-5 .login-logo {
    left: inherit !important;
}

@media (max-width:1023px) {
    .user-login-5 .login-logo {
        position: inherit !important;
    }
}

.btn {
    padding: 6px 35px !important;
}