html, body {
    height: 100%;
}

body {
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 20px;
    background-color: #eee;
}

.fillHeight {
    height: 100%;
    min-height: 100%;
}

.contentHeight {
    height: calc(100% - 55px);
    min-height: calc(100% - 55px);
}

/* ----------- mailboxes list -------------- */
#mailboxes-menu {
    height: 75px;
}
#mailboxes-container {
    height: calc(100% - 55px);
}

/* ------------ messages list ------------ */
#messages-menu {
    height: 75px;
}
#messages-container {
    height: calc(100% - 55px);
    border: 1px solid #ddd;
}

/* -------------- message ------------- */
#message-menu {
    height: 75px;
}

#message-container {
    height: calc(100% - 55px); /* 100% - menu */
    border: 1px solid #ddd;
}

#message-header {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

#message-body {
    height: calc(100% - 50px - 50px); /* 100% - header - attachments */
    background-color: #fdfdfd;
    padding: 15px;
}

#message-attachments {
    height: 50px;
    border-top: 1px solid #ddd;
}

/* ------------ projects --------------- */
#projects-container {
    height: calc(100% - 75px);
}

#history-container {
    height: calc(100% - 75px);
}

#detail-container {
    height: calc(100% - 75px);
}

tr.unseen > td {
    font-weight: bold;
}

.text-disabled {
    color: #888;
}

.text-alert {
    color: #ff0000;
}

.menu-icon {
    font-size: 200%;
}

.rotate-90 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.rotate-135 {
    /* Safari */
    -webkit-transform: rotate(-135deg);
    /* Firefox */
    -moz-transform: rotate(-135deg);
    /* IE */
    -ms-transform: rotate(-135deg);
    /* Opera */
    -o-transform: rotate(-135deg);
}