RewriteEngine on


# pridanie "www" na zaciatok (ak nie je))
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www\.%{HTTP_HOST}/$1 [NC,L]

# presmerovanie spolocnych suborov do adresara "assets"
RewriteRule ^assets/(.+\..+) http://%{HTTP_HOST}/qpapps/assets/$1 [R=301,L]

# subory urcene vyhradne pre danu aplikaciu rozpozname podla klucoveho slova "nazovappky"+"assets" na zaciatku cesty a presmerujeme ho do podadresara
RewriteRule ^adminassets/(.+\..+) http://%{HTTP_HOST}/qpapps/admin/assets/$1 [R=301,L]

# vsetko, co je v URL za "/admin/" prehodime do GET parametra "uri"
# je tu osetreny aj pripad, ked za "/admin" uz nenasleduje nic, vtedy bude GET parameter prazdny
RewriteCond %{REQUEST_URI} ^/admin [NC]
RewriteRule ^admin(/*)(.*)$ /qpapps/admin/?uri=$2 [NC,L]

ErrorDocument 404 /index.php
